/AdminArea/App_Data/
/IntegrationRecepients.Api/App_Data/
/IntegrationIntraStock.Api/App_Data/
/IntegrationSap.Api/App_Data/
/IdentityServer/App_Data/
/**/bin/
/**/obj/
/**/*.suo
/**/*.csproj.user
/.vs/*